body {
  background: #577CB0;
  background: linear-gradient(#577CB0, #000C50);
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
  height: 100%;
}

.home-main {
  display: flex;
  margin: auto;
  width: 90%;
}

.home-screen, .side-bar {
  background: #C6BD7A;
  height: 470px;
  margin: 60px 5px 60px 5px;
}

.home-screen {
  width: 65%;
}

.side-bar {
  width: 35%;
}

slide {
  display: inline-block;
  height: 100%;
  opacity: 0;
  transition: opacity 0.7s;
  width: 100%;
  z-index: -1;
}

.active {
  opacity: 1;
  transition: opacity 0.7s;
  z-index: 1;
}

.blue-marble-slide {
	background-image: url('images/blue_marble.jpg');
  background-position: center center;
  background-size: cover;
}

.headline-shade, .headline {
  display: inline-block;
  height: 40px;
  text-align: center;
  width: 100%;
}

.headline-shade {
  background: #000000;
  filter: blur(5px);
  transform: translateY(190px);
  opacity: 0.6;
}

.headline {
  color: #999999;
  transform: translateY(120px);
  letter-spacing: 18px;
  text-align: center;
  white-space: nowrap;
}

.expant {
  transition: letter-spacing 6s;
  letter-spacing: 27px;
}

@media screen and (max-width: 1080px) {
  .headline {
    letter-spacing: 2px;
  }
  .expant {
    transition: letter-spacing 7s;
    letter-spacing: 6px;
  }
}

@media screen and (max-width: 500px) {
  .headline, .headline-shade {
    display: none;
  }
}

.welcome-slide {
  background: #000000;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -100%;
}

.overhead-banner, .main-banner, .home-box {
  color: #999999;
  margin: auto;
}

.overhead-banner {
  letter-spacing: 38px;
}

.main-banner {
  border-top: 4px solid #ED2919;
  border-bottom: 4px solid #ED2919;
  color: #ED2919;
  font-size: 140px;
  transform: translateY(-10px);
}

.risen {
  color: #FF0000;
  font-size: 144px;
  transform: translateY(-16px);
  transition: transform 4s, font-size 4s, color 4s;
}

.home-box {
  font-size: 18px;
}

switchboard {
  display: flex;
  flex-direction: row;
}

selector {
  background: #C6BD7A;
  border-radius: 4px;
  color: #000000;
  cursor: pointer;
  margin: 15px;
  padding: 8px;
  text-align: center;
  transition: padding .12s;
}

selector:hover {
  padding: 7px;
  transition: padding .3s;
}

@media screen and (max-width: 1080px) {
  .overhead-banner {
    letter-spacing: 12px;
  }
  .main-banner {
    font-size: 90px;
  }
  .risen {
    font-size: 92px;
  }
}

@media screen and (max-width: 700px) {
  .overhead-banner {
    letter-spacing: 2px;
  }
  .main-banner {
    font-size: 36px;
  }
  .risen {
    font-size: 38px;
  }
  switchboard {
    flex-direction: column;
  }
}
